html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::before, *::after { -webkit-box-sizing: inherit; box-sizing: inherit; }

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.site-header {
  padding-right: 73px;
  padding-left: 73px;
}

.main-navigation {
  position: relative;
}

.main-navigation ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.site-logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -70px;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-list li {
  width: 240px;
  padding-top: 14px;
  padding-bottom: 16px;
}

.navigation-list li:nth-child(1),
.navigation-list li:nth-child(2) {
  text-align: left;
}

.navigation-list li:nth-child(3),
.navigation-list li:nth-child(4) {
  text-align: right;
}

.navigation-list li:nth-child(2) {
  margin-right: auto;
}

.navigation-list a {
  font-weight: 700;
  line-height: 26px;
  text-decoration: none;
  color: #000000;
}

.navigation-list a:hover,
.navigation-list a:focus {
  color: #81B3D2;
}

.navigation-list a:active {
  opacity: 0.3;
  color: #000000;
}

.navigation-list .current a {
  color: #766357;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 50px;
  color: #000000;
  background: url("../img/intro-background.png") no-repeat;
}

.description img {
  margin-top: 75px;
  margin-bottom: 140px;
}

.description b {
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 27px;
  text-align: center;
}

.description p {
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 0;
  color: #333333;
}

.features-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  text-align: center;
}

.features-list p {
  margin-top: 0;
  margin-bottom: 0;
}

.features-list b {
  font-size: 21px;
}

.town-block,
.bridge-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #ffffff;
  background-color: #81b3d2;
}

.town-block div,
.bridge-block div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.town-block-description,
.bridge-block-description {
  padding: 48px;
}

.town-block-description .block-header,
.bridge-block-description .block-header {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 24px;
}

.town-block-description span,
.bridge-block-description span {
  position: relative;
  margin-bottom: 20px;
}

.town-block-description span::before,
.bridge-block-description span::before {
  position: absolute;
  top: 10px;
  left: -16px;
  width: 10px;
  content: "";
  border-bottom: 1px solid #ffffff;
}

.town-block-description span::after,
.bridge-block-description span::after {
  position: absolute;
  top: 10px;
  right: -16px;
  width: 10px;
  content: "";
  border-bottom: 1px solid #ffffff;
}

.bridge-block {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.town-advantages,
.list-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
}

.town-advantages {
  padding-top: 60px;
  padding-bottom: 82px;
  padding-left: 0;
}

.town-advantages b,
.list-advantages b {
  display: block;
  margin-bottom: 23px;
  color: #000000;
}

.town-advantages b {
  min-width: 64px;
  min-height: 76px;
  padding-top: 103px;
}

.town-advantages li,
.list-advantages li {
  width: 400px;
  margin-right: 40px;
  margin-left: 40px;
  text-align: center;
}

.feature-housing b {
  background: 50% 0 url("../img/housing-icon.png") no-repeat;
}

.feature-food b {
  background: 50% 0 url("../img/food-icon.png") no-repeat;
}

.feature-souvenir b {
  background: 50% 0 url("../img/souvenir-icon.png") no-repeat;
}

.feature-housing p {
  padding-left: 10px;
}

.list-advantages {
  padding-top: 47px;
  padding-bottom: 58px;
  padding-left: 0;
  background-color: #eeeeee;
}

.list-advantages span {
  position: relative;
  margin-bottom: 23px;
}

.list-advantages span::before {
  position: absolute;
  top: 11px;
  left: 135px;
  width: 9px;
  content: "";
  border-bottom: 1px solid #979797;
}

.list-advantages span::after {
  position: absolute;
  top: 11px;
  right: 135px;
  width: 9px;
  content: "";
  border-bottom: 1px solid #979797;
}

.feature-square p {
  padding-left: 34px;
}

.feature-road p {
  padding-left: 20px;
}

.feature-tourists p {
  padding-left: 15px;
}

.feature-square,
.feature-road,
.feature-tourists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.offer-block {
  position: relative;
  padding: 50px 73px 0;
  text-align: center;
}

.offer-block p {
  margin-top: 0;
  margin-bottom: 0;
}

.offer-interested {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  padding-bottom: 25px;
  color: #000000;
}

.offer-proposal {
  line-height: 24px;
  width: 576px;
  margin: 0 auto;
  padding-bottom: 46px;
}

.search-form-wrapper {
  position: absolute;
  left: 315px;
  min-width: 568px;
  min-height: 490px;
  overflow: hidden;
}

.button {
  position: relative;
  z-index: 1;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  display: inline-block;
  min-width: 568px;
  padding: 30px 80px;
  vertical-align: middle;
  text-decoration: none;
  color: #ffffff;
  background-color: #766357;
}

.button:hover,
.button:focus {
  background-color: #604E43;
}

.button:active {
  color: #857871;
}

.offer-modal {
  font-weight: 700;
  line-height: 26px;
  position: absolute;
  width: 568px;
  padding: 55px;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.modal-show {
  visibility: visible;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 0.6s ease-in;
  transition: -webkit-transform 0.6s ease-in;
  transition: transform 0.6s ease-in;
  transition: transform 0.6s ease-in, -webkit-transform 0.6s ease-in;
}

.modal-error {
  -webkit-animation-name: error;
  animation-name: error;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

@-webkit-keyframes error {
  0%, 100% {-webkit-transform: translateX(0); transform: translateX(0);}
  10%,50%, 90% {-webkit-transform: translateX(10px); transform: translateX(10px);}
  30%, 70% {-webkit-transform: translateX(-10px); transform: translateX(-10px);}
}
@keyframes error {
  0%, 100% {-webkit-transform: translateX(0); transform: translateX(0);}
  10%,50%, 90% {-webkit-transform: translateX(10px); transform: translateX(10px);}
  30%, 70% {-webkit-transform: translateX(-10px); transform: translateX(-10px);}
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.search-form input {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  height: 38px;
  color: #000000;
  border: none;
  background-color: #f2f2f2;
}

.search-form input:hover {
  background-color: #EBEBEB;
}

.search-form input:focus {
  outline: none;
  background-color: #FFF;
  border: 2px solid #EBEBEB;
}

.search-form p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 458px;
}

.search-form p {
  margin-bottom: 30px;
}

.search-form p:last-of-type {
  margin-bottom: 53px;
}

.search-date {
  position: relative;
}

.search-form a {
  position: absolute;
  top: 8px;
  right: 9px;
  width: 21px;
  height: 22px;
  background: url("../img/calendar.svg");
}

.search-date [type="text"]::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #000000;
}

.search-date [type="text"]::-moz-placeholder {
  text-transform: uppercase;
  color: #000000;
}

.search-date [type="text"]:-ms-input-placeholder {
  text-transform: uppercase;
  color: #000000;
}

.search-date [type="text"]::-ms-input-placeholder {
  text-transform: uppercase;
  color: #000000;
}

.search-date [type="text"]::placeholder {
  text-transform: uppercase;
  color: #000000;
}

.search-date input {
  width: 346px;
  padding: 12px;
}

.search-people {
  width: 229px;
}

.search-people span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.search-people span:first-of-type {
  width: 226px;
}

.search-people span:last-of-type {
  width: 178px;
}

.search-people input {
  width: 114px;
  padding-left: 15px;
  text-align: center;
}

.search-form-button {
  font-size: 21px;
  line-height: 26px;
  width: 100%;
  min-height: 58px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background-color: #81b3d2;
}

.search-form-button:hover,
.search-form-button:focus {
  background-color: #669EC0;
}

.search-form-button:active {
  color: #88b6d1;
}

.map {
  max-height: 593px;
}

.site-footer {
  position: absolute;
  bottom: -2px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding-top: 36px;
  padding-bottom: 35px;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.9);
}

.site-footer b {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  width: 400px;
  text-align: center;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 400px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.socials a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  padding: 13px;
  background-color: #81b3d2;
}

.socials img {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.socials li:not(:last-child) {
  margin-right: 6px;
}

.socials a:hover,
.socials a:focus {
  background-color: #669EC0;
}

.socials a svg {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  fill: #ffffff;
}

.socials a:active svg {
  fill: #88b6d1;
}

.site-creator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 400px;
  margin-top: 0;
  margin-bottom: 0;
}

.site-creator img {
  margin-left: 10px;
}

.form-wrapper {
  padding: 27px 73px 30px;
  color: #ffffff;
  background: url("../img/filter background.jpg") no-repeat center;
}

.form-wrapper fieldset {
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  border: none;
}

.form-wrapper legend {
  font-size: 16px;
  font-weight: 700;
}

.form-wrapper p {
  margin-top: 0;
  margin-bottom: 0;
}

.search-parameters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.checkbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkbox-wrapper fieldset {
  width: 255px;
}

.checkbox-wrapper legend {
  margin-bottom: 25px;
}

.checkbox-wrapper p:not(:last-child) {
  margin-bottom: 25px;
}

.checkbox-wrapper label {
  position: relative;
  padding-left: 40px;
}

.checkbox-wrapper label::before {
  position: absolute;
  top: -2px;
  left: -1px;
  width: 23px;
  height: 23px;
  content: "";
  color: #ffffff;
  background: url("../img/checkbox-off.svg");
}

.checkbox-wrapper input:checked + label::before {
  position: absolute;
  top: -2px;
  left: -1px;
  width: 27px;
  height: 23px;
  content: "";
  color: #ffffff;
  background: url("../img/checkbox-on.svg");
}

.checkbox-wrapper input:disabled + label {
  opacity: 0.4;
}

.range-wrapper {
  text-align: center;
}

.range-wrapper legend {
  margin-bottom: 10px;
  text-align: left;
}

.range-wrapper p {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 317px;
  min-height: 35px;
  margin-bottom: 55px;
  padding-right: 18px;
  padding-left: 65px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.range-wrapper p::before {
  position: absolute;
  top: 5px;
  left: 50%;
  width: 2px;
  height: 22px;
  content: "";
  border-left: 2px solid #ffffff;
}

.range-wrapper span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.range-wrapper input {
  font-size: 14px;
  line-height: 21px;
  width: 60px;
  margin-left: 5px;
  text-align: left;
  color: #ffffff;
  border: none;
  background-color: transparent;
}

.cost-from,
.cost-to {
  position: relative;
}

.cost-from::before,
.cost-from::after {
  position: absolute;
  top: 49px;
  left: -63px;
  content: "";
  border-bottom: 2px solid #ffffff;
}

.cost-from::before {
  width: 312px;
  opacity: 0.3;
}

.cost-from::after {
  width: 250px;
}

.cost-to::before,
.cost-to::after {
  position: absolute;
  top: 40px;
  content: "";
  background: url("../img/filter-button.svg") no-repeat;
  width: 20px;
  height: 23px;
  cursor: pointer;
}

.cost-to::before {
  left: -212px;
}

.cost-to::after {
  left: 40px;
}

.form-button {
  font-size: 14px;
  line-height: 21px;
  padding: 6px 33px 6px 35px;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: transparent;
}

.sorting {
  font-size: 12px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 32px 73px 30px;
}

.sorting h3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin-top: 0;
  margin-right: 47px;
  margin-bottom: 0;
  color: #000000;
}

.sorting b {
  margin-right: 43px;
  color: #000000;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.sorting-list li:nth-child(1),
.sorting-list li:nth-child(2),
.sorting-list li:nth-child(3) {
  margin-right: 32px;
}

.sorting-list li:nth-child(4) {
  margin-right: 10px;
  margin-left: auto;
}

.sorting-list a {
  opacity: 0.3;
  color: #000000;
  -webkit-text-decoration-style: dotted;
  text-decoration-style: dotted;
}

.sorting-list a:hover,
.sorting-list a:focus {
  opacity: 1;
  color: #81B3D2;
}

.sorting-list a:active {
  opacity: 1;
  color: #000000;
}

.active a {
  opacity: 1;
  color: #81B3D2;
  text-decoration: none;
}

.result-wrapper {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.result-list li:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}

.result-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.result-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.result-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 73px;
}

.result-description img {
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.result-text h3 {
  margin-top: 24px;
  margin-bottom: 7px;
}

.result-text p {
  margin-top: 0;
  margin-bottom: 13px;
}

.result-text p:last-child {
  margin-bottom: 30px;
}

.housing-price span{
  display: inline-block;
  width: 111px;
  vertical-align: middle;
}

.housing-name {
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  color: #000000;
}

.housing-name:hover,
.housing-name:focus {
  color: #81B3D2;
}

.housing-name:active {
  opacity: 0.3;
  color: #000000;
}

.result-text h3 {
  color: #000000;
}

.housing-button {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  display: inline-block;
  padding: 3px 17px;
  vertical-align: middle;
  text-decoration: none;
  color: #ffffff;
  background-color: #766357;
}

.button-details {
  background-color: #81b3d2;
}

.button-details:hover,
.button-details:focus {
  background-color: #669EC0;
}

.button-details:active {
  color: #88b6d1;
}

.button-book:hover,
.button-book:focus {
  background-color: #604E43;
}

.button-book:active {
  color: #857871;
}

.rating {
  position: relative;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-right: 73px;
  margin-bottom: 30px;
  padding: 4px 12px;
  color: #666666;
  background-color: #f2f2f2;
}

.rating::before {
  content: "";
  position: absolute;
  top: -63px;
  right: 0;
  background: 0 0 url("../img/5stars.svg") no-repeat;
  width: 18px;
  height: 17px;
}

.hotel-rating::before {
  width: 87px;
}

.motel-rating::before {
  width: 64px;
}

.apartment-rating::before {
  width: 41px;
}

.hotel-page .site-footer {
  position: relative;
}
